@import '../../assets/scss_styles/global-imports';


.countdownTimer {
   min-height: 3rem;
}

.start {
   @include flex-center-vert;
   padding: 0 15px;
}

.equation {
   height: 6rem;
   min-height: 6rem;
}

.keyboard {
   @include flex-center;


   .keyWrap {
      width: 70%;
      @include flex-center;
      flex-wrap: wrap;
      gap: .5rem;

      .key {
         height: 2rem;
         line-height: 2rem;
         padding: 0px 15px;
         text-align: center;
         border: 1px solid $clr_main;
         border-radius: 10px;
      }
   }
}