@import '../../assets/scss_styles/global-imports';

.settings {
   @include flex-center-column;
   position: relative;
   gap: 1rem;

   .duration {
      @include flex-center-horiz;
      gap: .5rem;
      align-items: baseline;

      select {
         font-size: 1.5rem;
         color: $clr_main;
      }
   }
}