@import "../../assets/scss_styles/global-imports";

.timer {
   @include flex-center;
   height: 2rem;

   .timerValue {
      border: 1px solid $clr_main;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      text-align: center;
      line-height: 4rem;
      font-size: 2rem;
   }
}