@import '../../assets/scss_styles/global-imports';

.modalPage {
   width: 100vw;
   height: 100vh;
   background: #ffffffea;
   color: $clr_main;
   text-shadow: 0px 0px 1px $clr_main;
   @include flex-center-column;
   gap: 2rem;
   position: fixed;
   top: 0;
   left: 0;
   text-align: center;

}