@import '../../assets/scss_styles/global-imports';

.home {
   @include flex-center-column;

   .homeListItem {
      @include flex-center-column;

      .homeListItem {
         display: flex;
         flex-direction: row;
         align-items: baseline;
         width: 100%;
         // gap: rem;
         color: $clr_main;
      }
   }
}