$clr_white: rgb(255, 255, 255);
$clr_black: rgb(0, 0, 0);
$clr_gray: rgb(116, 116, 116);
$clr_light_gray: #c9c9c9;
$clr_red: rgb(255, 0, 0);
$clr_orange: rgb(255, 94, 0);
$clr_main: #370cfa;
$main_font: 'Kalam', cursive;