$clr_white: rgb(255, 255, 255);
$clr_black: rgb(0, 0, 0);
$clr_gray: rgb(116, 116, 116);
$clr_light_gray: rgb(201, 201, 201);
$clr_red: rgb(220, 53, 69);
$clr_orange: rgb(255, 94, 0);
$clr_main: rgb(55, 12, 250);
$main_font: 'Kalam', cursive;